*~
*.bak
*.o
*.exe
cscope*
*#
Makefile.in
net/Makefile
net/.deps
ltmain.sh
libtool
*.lo
*.la
lib/libccnet.a
lib/libcommon.a
lib/ccnetevent.c
lib/ccnetobj.c
lib/event-object.h
lib/ccnet-object.h
net/ccnet-test
install-sh
depcomp
config.guess
config.h
config.log
config.status
config.sub
config.cache
configure
*/.deps
cli/Makefile
cli/ccnet-cli
cli/ccnet-create-group
autom4te*
po/POTFILES
missing
mkinstalldirs
stamp-h1
*.libs/
Makefile
aclocal.m4
gtk/ccnet-gtk
*core
tools/ccnet-init
gtk/ccnet-board
gtk/ccnet-msgview
data/new-conf*
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ccnet-*.tar.gz
config.h.in
py-compile
python/ccnet/ccnet.c
*.stamp
include/ccnet/buildin-types.h
lib/buildin-types.c
*.pyc
*.tmp.ui
*.defs
*.log
.deps
*.db
cli/ccnet-servtool
cli/ccnet-tool
tests/peer-add/conf1/c882e263e9d02c63ca6b61c68508761cbc74c358.peer
tests/peer-add/conf1/c882e263e9d02c63ca6b61c68508761cbc74c358.user
*.dll
*.aps
*.so
build-stamp
debian/files
debian/seafile
debian/*.substvars
net/daemon/ccnet
net/server/ccnet-server
lib/searpc-marshal.h
lib/searpc-signature.h
lib/rpc_table.stamp
lib/rpc_table.tmp
net/cluster/ccnet-cserver
tests/common-conf.sh
libccnet.pc
demo/ccnet-demo-client
demo/ccnet-demo-server
net/daemon/ccnet-test
/compile
